@{
    Layout = "_Layout";
}

<form action="/vendors/" method="post">
    <label for="vendorName">New vendor name: </label>
    <input id="vendorName" name="vendorName" type="text">
    <label for="vendorDescription">New vendor description: </label>
    <input id="vendorDescription" name="vendorDescription" type="text">
    <button type="submit">Add vendor</button>
</form>