@{
    Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<ol>
    @foreach (Order order in @Model["orders"])
    {
        <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    }
</ol>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
    <button type="submit">Add an order!</button>

</form>
<form action="/vendors/{id}" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value='@Model["vendor"].Id'>
    <button type="submit">Delete vendor</button>
</form>

<form action='/vendors/' method="get">
    <button type="submit">Back to vendor list</button>
</form>
